# Ignore virtual environments
venv/

# Ignore SQLite database files
*.sqlite3
*.db

# Ignore environment files
.env

# Ignore cache files
__pycache__/
*.py[cod]

# Ignore log files
*.log

# Ignore specific binary data and metadata files
*.bin
*.pickle

# Ignore the entire chroma_db_dev directory
resources/files/

.DS_Store

# Ignore user login
secrets.toml
config.toml